<!DOCTYPE html>
<html lang="en">
<head>
    {% set reptitle = templateData.texts.title[locale] %}
    {% set portnotreachable = templateData.texts.portnotreach[locale] %}
    {% set dnsmaxtime = templateData.texts.dnsmaxtime[locale] %}
    {% set respmaxtime = templateData.texts.respmaxtime[locale] %}
    {% set host = templateData.texts.host[locale] %}
    {% set port = templateData.texts.port[locale] %}
    {% set protocol = templateData.texts.protocol[locale] %}
    {% set reachability = templateData.texts.reachability[locale] %}
    {% set notes = templateData.texts.notes[locale] %}
    
    <title>{{ reptitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .failure { background-color: {{ templateData.backgroundcolors.failure }} }
        .dnsalert { background-color: {{ templateData.backgroundcolors.dns }} }
        .responsealert { background-color: {{ templateData.backgroundcolors.response }} }
    </style>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">{{ reptitle }}</h2>
                <h6 class="text-center">{{ templateData.reporttime }}</h6>
            </div>
        </div>
        <div class=row>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="failure"></td>
                            <td>{{ portnotreachable }}</td>
                        </tr>
                        <tr>
                            <td class="dnsalert"></td>
                            <td>{{ dnsmaxtime }} ({{ templateData.maxlimits.dns }} ms)</td>
                        </tr>
                        <tr>
                            <td class="responsealert"></td>
                            <td> {{ respmaxtime }} ({{ templateData.maxlimits.response }} ms)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ host }}</th>
                    <th>{{ port }}</th>
                    <th>{{ protocol }}</th>
                    <th>{{ reachability }}</th>
                    <th>Avg.DNS Response(ms)</th>
                    <th>Avg.Response(ms)</th>
                    <th>{{ notes }}</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in datas.items() %}
                    {% if value.message  != "reachable" %}
                        <tr class="failure">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ key }}</td>
                        <td>{{ value.port }}</td>
                        <td>{{ value.protocol }}</td>
                        <td>{{ value.message }}</td>
                    {% if value.dns|float > templateData.maxlimits.dns  %}
                        <td class="dnsalert">{{ value.dns }}</td>
                    {%else%}
                        <td>{{ value.dns }}</td>
                    {% endif %}
                    {% if value.avg|float > templateData.maxlimits.response %}
                        <td class="responsealert" >{{ value.avg }}</td>
                    {%else%}
                        <td>{{ value.avg }}</td>
                    {% endif %}
                        <td>{{ value.msg }}</td>
                    </tr>
                    
                {% endfor %}    
            </tbody>
            
        </table>
    </div>
</body>
</html>